my

.refresh

.DS_Store

__pycache__

.ipynb_checkpoints/

.vscode/

__res/

perf.data

perf.data.old

*.swp

*.ipynb

*.pdf

*.zip

*.tgz

*.obj

test.py

jrender/extern/mkl/mkldnn_lnx*/*

data/

logs/

build/

venv/


jrender/python/jittor.egg-info

dist/

core

__data__
jrender/logs


__pycache__/
!JNeRF/data/fox
JNeRF/python/build
JNeRF/python/dist
*.egg-info
*.pkl